[Unit]
Description=Jupyterhub
After=network-online.target

[Service]
User=jupyterhub
Group=jupyterhub
ExecStart=/opt/jupyterhub/bin/jupyterhub --config /opt/jupyterhub/etc/jupyterhub_config.py
WorkingDirectory=/opt/jupyterhub/etc

[Install]
WantedBy=multi-user.target
